body {
    background-image: repeating-conic-gradient(red 15%, rgb(22, 71, 131) 20%);
}
.background {
    background-image: url(photos/firevine_original.gif);
}

h1 {
    color: azure;
    text-decoration: none;
}
p {
    color: azure;
    top: 2000px;
}